# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Misc
*.swp
*.lock

